* text=auto !eol
/AUTHORS -text
/BUGS -text
Ev3/DISTFILES -text
Ev3/FEATURES -text
Ev3/FILES -text
Ev3/HISTORY -text
Ev3/LICENSE -text
Ev3/Makefile -text
Ev3/PORTING -text
Ev3/README -text
Ev3/VERSION -text
Ev3/auxiliary.h -text
Ev3/common.h -text
Ev3/convexifiermain.cxx -text
Ev3/examples/CMakeLists.txt -text
Ev3/examples/cas.cxx -text
Ev3/examples/examplemain.cxx -text
Ev3/examples/main.cxx -text
Ev3/examples/smithmain.cxx -text
Ev3/examples/smithmain2.cxx -text
Ev3/examples/testfasteval.cxx -text
Ev3/examples/testmain.cxx -text
Ev3/examples/testmemleak.cxx -text
Ev3/examples/try1.cxx -text
Ev3/examples/try2.cxx -text
Ev3/exceptions.h -text
Ev3/exprauxiliary.cxx -text
Ev3/exprauxiliary.h -text
Ev3/expression.cxx -text
Ev3/expression.cxx.convexifier -text
Ev3/expression.cxx.h -text
Ev3/expression.cxx.orig -text
Ev3/expression.h -text
Ev3/exprexternal.cxx -text
Ev3/fastexpression.cxx -text
Ev3/fastexpression.h -text
Ev3/franco/Makefile -text
Ev3/franco/README -text
Ev3/franco/bf.h -text
Ev3/franco/bf1.cxx -text
Ev3/franco/mbf.cxx -text
Ev3/franco/mcis-test.tar.gz -text
Ev3/main.cxx -text
Ev3/makedist -text
Ev3/msvc++/Ev3.dep -text
Ev3/msvc++/Ev3.dsp -text
Ev3/msvc++/Ev3.dsw -text
Ev3/msvc++/makefile -text
Ev3/operand.cxx -text
Ev3/parser.cxx -text
Ev3/parser.h -text
Ev3/quarticmain.cxx -text
Ev3/rcs.CHECKEDOUT -text
Ev3/smithmain.cxx -text
Ev3/tree.cxx -text
Ev3/tree.h -text
Ev3/tree_hi.cxx -text
Ev3/try/automatic_alloc.cxx -text
Ev3/try/destructor.cxx -text
Ev3/try/istream.cxx -text
Ev3/try/string.cxx -text
Ev3/try/strtok.cxx -text
Ev3/try/vecdelete.cxx -text
/INSTALL -text
/LICENSE -text
/Makefile -text
/README -text
doc/liberti-reformulation_optimization_software_engine.pdf -text svneol=unset#unset
doc/liberti-reformulations_mathprog_computational_approach.pdf -text
examples/bilinear.ros -text
examples/bilinear.sh -text
/get.ASL -text
/mksolverlist -text
/mkversion -text
/newsolver.cxx -text
/newsolver.h -text
/nl2ros.cxx -text
/parameters.h -text
/problem.cxx -text
/problem.h -text
/rose.cxx -text
/rose.h -text
/solver.cxx -text
/solver.h -text
/solver_RQuarticConvex.cxx -text
/solver_RQuarticConvex.h -text
/solver_Rcdd.cxx -text
/solver_Rcdd.h -text
/solver_Rconvexifier.cxx -text
/solver_Rconvexifier.h -text
/solver_Rconvexifiermod.cxx -text
/solver_Rconvexifiermod.h -text
/solver_Rcopy.cxx -text
/solver_Rcopy.h -text
/solver_Rdisaggr.cxx -text
/solver_Rdisaggr.h -text
/solver_Rfbbtfp.cxx -text
/solver_Rfbbtfp.h -text
/solver_Roa.cxx -text
/solver_Roa.h -text
/solver_Rporta.cxx -text
/solver_Rporta.h -text
/solver_Rprint.cxx -text
/solver_Rprint.h -text
/solver_Rprintdat.cxx -text
/solver_Rprintdat.h -text
/solver_Rprintmod.cxx -text
/solver_Rprintmod.h -text
/solver_Rprintncvxdiscr.cxx -text
/solver_Rprintncvxdiscr.h -text
/solver_Rprodbincont.cxx -text
/solver_Rprodbincont.h -text
/solver_Rrelaxation.cxx -text
/solver_Rrelaxation.h -text
/solver_Rsmith.cxx -text
/solver_Rsmith.h -text
/solver_Rsymmgroup.cxx -text
/solver_Rsymmgroup.h -text
/solver_Rvinci.cxx -text
/solver_Rvinci.h -text
/solver_TEMPLATE.cxx -text
/solver_TEMPLATE.h -text
/solver_analyser.cxx -text
/solver_analyser.h -text
/solver_gomory.cxx -text
/solver_gomory.h -text
/solver_limitedbranch.cxx -text
/solver_limitedbranch.h -text
/solver_localbranch.cxx -text
/solver_localbranch.h -text
/solver_null.cxx -text
/solver_null.h -text
/solver_sbb.cxx -text
/solver_sbb.h -text
/solver_subgradient.cxx -text
/solver_subgradient.h -text
/solver_tabu.cxx -text
/solver_tabu.h -text
/solver_vns.cxx -text
/solver_vns.h -text
/solverlist.h -text
/utils.cxx -text
/utils.h -text
/version.h -text
